@import 'block/header', 'block/promo', 'block/carousel', 'block/carousel', 'block/advant', 'block/hours', 'block/footer';

@import 'block/catalog-tab';

@import 'block/menu';


.container{
    max-width: 1300px;
    display: block;
    margin: 0 auto;
}

input, button{
    outline: none;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
}
.logo{
    display: flex;
    width: 185px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    img{
        width: 50px;
    }
    &__text{
        font-size: 30px;
        font-family: "Delicious Handrawn", sans-serif;
        color: #fff;
    }
}
.background_left{
    position: absolute;
    left: 0px;
    width: 100px;
    top: 900px;
}
.background_right{
    position: absolute;
    right: 0px;
    width: 100px;
    top: 300px;
}